/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { /* put font family info in body to apply to full web page */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh; /* 95% of the viewport */
  background-image: linear-gradient( /* background image incl. color gradient on top */
    to right bottom,
     rgba(126, 213, 111, 0.8),
     rgba(40, 180, 131, 0.8)),
     url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%) /* polygon shaped header background image */
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo{
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* shifts text box into exact centre */
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; /* stops text animation from shaking */
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  
  animation-name: moveInLeft; /* define animation name, see @keyframes for animation properties */
  animation-duration: 1s; /* define the duration of the animation */
  animation-timing-function: ease-out;  /* animation starts faster then slows down */
  
  /* 
  Other Helpful Animation Properties:
    animation-iteration-count: 3;  --> this makes the animation happen multi times
    animation-dealy: 3s;           --> delays the animation start

    helpful reference: https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function 
  */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation-name: moveInRight;
  animation: moveInRight 1s ease-out; /* animation properties in one line for conciseness */
}


/* Text Animation for "OUTDOORS" Header */
@keyframes moveInLeft { /* keyframes is used for CSS animations */
  0% { /* beginning of the animation: moves header text in from the right */
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px); /* moves header text in from the left a little */
  }

  100% { /* end of header text animation */ 
    opacity: 1;
    transform: translate(0);
  }
}


/* Text Animation for: "IS WHERE LIFE HAPPENS" Header */
@keyframes moveInRight { /* keyframes is used for CSS animations */
  0% { /* beginning of the animation: moves header text in from the right */
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px); /* moves header text in from the left a little */
  }

  100% { /* end of animation */
    opacity: 1;
    transform: translate(0);
  }
}


.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px; /* rounds edges of button */
  transition: all .2s; /* allows transform properties below */
}

.btn:hover {
  transform: translateY(-3px); /* moves button up slightly when hovered on */
  box-shadow: 0 10px 20px rgba(0,0,0,.2); /* shadow in x-direction, y-direction, blur-value, & color */
}

.btn:active {
  transform: translateY(-1px); /* moves button down slightly when pressed */
  box-shadow: 0 5px 10px rgba(0,0,0,.2); /* less button shadow when pressed */
}

.btn-white {
  background-color: #fff;
  color: #777;
}